@import "breakpoint-slicer";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.layout {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000 !important;
}

.popup {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  @apply rounded-lg;
  @apply p-8;
  @apply bg-white;
  @apply border-red;

  &__x {
    width: 110%;
    margin-top: clamp(-20px, -9.3456vw, -80px);

    @include respond-to("fsf") {
      width: 105%;
    }

    @include respond-to("es") {
      width: 100%;
    }
  }

  &__image {
    @include respond-to("xxs") {
      width: 80%;
      height: 50%;
      @apply mt-8;
    }

    @include respond-to("fsf") {
      width: 70%;
      height: 70%;
    }

    @include respond-to("sm") {
      width: 60%;
      height: 60%;
    }

    @include respond-to("es") {
      width: 50%;
      height: 50%;
    }
  }

  &__title {
    font-family: "Rubik";
    text-align: center;
    @apply font-bold;
    @apply text-2xl;
    @apply text-red;

    @include respond-to("xxs") {
      font-size: clamp(14px, 7.778vw, 56px);
    }

    @include respond-to("fsf") {
      @apply text-4xl;
    }
  }

  &__paragraph {
    text-align: center;
    @apply text-sm;
    @apply text-dark;
    @apply mt-8;

    @include respond-to("xs") {
      @apply text-base;
    }
  }
}
