@import "breakpoint-slicer";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

.video_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply mt-32;

  @include respond-to("xxs") {
    width: 90%;
    margin: auto;
    @apply mt-16;
  }

  &__logo {
    width: clamp(147.5px, 295 / 360 * 100vw, 590px);
    height: clamp(52.5px, 105 / 360 * 100vw, 210px);

    @include respond-to("xs") {
      width: clamp(147.5px, 295 / 480 * 100vw, 590px);
      height: clamp(52.5px, 105 / 480 * 100vw, 210px);
    }

    @include respond-to("sm") {
      width: clamp(147.5px, 295 / 720 * 100vw, 590px);
      height: clamp(52.5px, 105 / 720 * 100vw, 210px);
    }

    @include respond-to("md") {
      width: clamp(180px, 360 / 992 * 100vw, 720px);
      height: clamp(70px, 140 / 992 * 100vw, 280px);
    }

    @include respond-to("lg") {
      width: clamp(147.5px, 295 / 1200 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1200 * 100vw, 210px);
    }

    @include respond-to("xl") {
      width: clamp(147.5px, 295 / 1360 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1360 * 100vw, 210px);
    }

    @include respond-to("2xl") {
      width: clamp(147.5px, 295 / 1520 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1520 * 100vw, 210px);
    }

    @include respond-to("3xl") {
      width: clamp(147.5px, 295 / 1680 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1680 * 100vw, 210px);
    }

    @include respond-to("4xl") {
      width: clamp(147.5px, 295 / 1920 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1920 * 100vw, 210px);
    }

    @include respond-to("5xl") {
      width: clamp(147.5px, 295 / 2560 * 100vw, 590px);
      height: clamp(52.5px, 105 / 2560 * 100vw, 210px);
    }
  }

  &__cover {
    width: 100%;
    height: clamp(160px, 88.889vw, 640px);
    @apply rounded-xl;
    @apply mt-8;

    @include respond-to("xs") {
      width: 100%;
      height: clamp(174px, 350 / 480 * 100vw, 700px);
    }

    @include respond-to("sm") {
      width: 100%;
      height: clamp(174px, 350 / 720 * 100vw, 700px);
    }

    @include respond-to("md") {
      width: 100%;
      height: clamp(250px, 500 / 992 * 100vw, 1000px);
    }

    @include respond-to("lg") {
      width: 100%;
      height: clamp(250px, 500 / 1200 * 100vw, 1000px);
    }

    @include respond-to("xl") {
      width: 100%;
      height: clamp(275px, 550 / 1360 * 100vw, 1100px);
    }

    @include respond-to("2xl") {
      width: 100%;
    }

    @include respond-to("3xl") {
      width: 100%;
      height: clamp(350px, 700 / 1680 * 100vw, 1400px);
    }

    @include respond-to("4xl") {
      width: 100%;
      height: clamp(400px, 800 / 1920 * 100vw, 1600px);
    }

    @include respond-to("5xl") {
      width: 100%;
      height: clamp(400px, 800 / 2560 * 100vw, 1600px);
    }
  }

  @include respond-to("lg") {
    @apply mt-16;
  }
}
