@import "breakpoint-slicer";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

.video_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply mt-32;

  @include respond-to('xxs') {
    width: 90%;
    margin: auto;
    @apply mt-16;
  }

  &__logo {
    width: clamp(147.5px, 295 / 360 * 100vw, 590px);
    height: clamp(52.5px, 105 / 360 * 100vw, 210px);

    @include respond-to("xs") {
      width: clamp(147.5px, 295 / 480 * 100vw, 590px);
      height: clamp(52.5px, 105 / 480 * 100vw, 210px);
    }

    @include respond-to("sm") {
      width: clamp(147.5px, 295 / 720 * 100vw, 590px);
      height: clamp(52.5px, 105 / 720 * 100vw, 210px);
    }

    @include respond-to("md") {
      width: clamp(147.5px, 295 / 992 * 100vw, 590px);
      height: clamp(52.5px, 105 / 992 * 100vw, 210px);
    }

    @include respond-to("lg") {
      width: clamp(147.5px, 295 / 1200 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1200 * 100vw, 210px);
    }

    @include respond-to("xl") {
      width: clamp(147.5px, 295 / 1360 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1360 * 100vw, 210px);
    }

    @include respond-to("2xl") {
      width: clamp(147.5px, 295 / 1520 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1520 * 100vw, 210px);
    }

    @include respond-to("3xl") {
      width: clamp(147.5px, 295 / 1680 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1680 * 100vw, 210px);
    }

    @include respond-to("4xl") {
      width: clamp(147.5px, 295 / 1920 * 100vw, 590px);
      height: clamp(52.5px, 105 / 1920 * 100vw, 210px);
    }

    @include respond-to("5xl") {
      width: clamp(147.5px, 295 / 2560 * 100vw, 590px);
      height: clamp(52.5px, 105 / 2560 * 100vw, 210px);
    }
  }

  &__cover {
    width: 100%;
    height: clamp(160px,88.889vw,640px);
    @apply rounded-xl;
    @apply mt-8;

    @include respond-to("xs") {
      width: 100%;
      height: clamp(174px, 350 / 480 * 100vw, 700px);
    }

    @include respond-to("sm") {
      width: 100%;
      height: clamp(174px, 350 / 720 * 100vw, 700px);
    }

    @include respond-to("md") {
      width: 100%;
      height: clamp(174px, 350 / 992 * 100vw, 700px);
    }

    @include respond-to("lg") {
      width: 100%;
      height: clamp(200px, 400 / 1200 * 100vw, 800px);
    }

    @include respond-to("xl") {
      width: 100%;
      height: clamp(465px, 930 / 1360 * 100vw, 1860px);
    }

    @include respond-to("2xl") {
      width: 100%;
      height: clamp(465px, 930 / 1520 * 100vw, 1860px);
    }

    @include respond-to("3xl") {
      width: 100%;
      height: clamp(465px, 930 / 1680 * 100vw, 1860px);
    }

    @include respond-to("4xl") {
      width: 100%;
      height: clamp(465px, 930 / 1920 * 100vw, 1860px);
    }

    @include respond-to("5xl") {
      width: 100%;
      // height: 1200px;
      height: clamp(600px, 1200 / 2560 * 100vw, 2400px);
    }
  }

  @include respond-to("lg") {
    @apply mt-16;
  }
}
