@import "breakpoint-slicer";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.blog_card {
  width: 100%;
  height: clamp(175px, 350 / 360 * 100vw, 700px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fbfbfb;
  transition: 0.3s all;
  @apply p-2;

  &:hover {
    @apply rounded-md;
    @apply bg-gray-100;
  }

  @include respond-to("xxs") {
    align-items: center;
  }

  @include respond-to("xs") {
    @apply mb-12;
  }

  @include respond-to("sm") {
    @apply mb-44;
  }

  @include respond-to("md") {
    @apply mb-80;
  }

  @include respond-to("tablet_sm") {
    @apply mb-2;
  }

  @include respond-to("tablet") {
    @apply mb-16;
  }

  @include respond-to("lg") {
    align-items: flex-start;
  }

  &:hover &__title {
    @apply font-bold;
    @apply text-red;
  }

  &__title {
    font-family: "Poppins";
    font-weight: 500;
    text-align: center;
    font-size: clamp(9px, 18 / 360 * 100vw, 36px);
    transition: 0.3s all;
    @apply text-dark;
    @apply mt-4;

    @include respond-to("xxs") {
      width: 80%;
      @apply mt-4;
    }

    @include respond-to("xs") {
      font-size: clamp(10px, 4.167vw, 40px);
    }

    @include respond-to("sm") {
      width: 55%;
      font-size: clamp(12px, 3.333vw, 48px);
    }

    @include respond-to("md") {
      font-size: clamp(14px, 28 / 992 * 100vw, 56px);
    }

    @include respond-to("tablet_sm") {
      width: 100%;
      font-size: clamp(11px, 22 / 1024 * 100vw, 44px);
    }

    @include respond-to("tablet") {
      width: 100%;
      font-size: clamp(12px, 24 / 1100 * 100vw, 48px);
    }

    @include respond-to("lg") {
      width: 100%;
      text-align: left;
      font-size: clamp(9px, 18 / 1200 * 100vw, 36px);
    }

    @include respond-to("xl") {
      font-size: clamp(9px, 18 / 1360 * 100vw, 36px);
    }

    @include respond-to("2xl") {
      font-size: clamp(9px, 18 / 1520 * 100vw, 36px);
    }

    @include respond-to("3xl") {
      font-size: clamp(9px, 18 / 1680 * 100vw, 36px);
    }

    @include respond-to("4xl") {
      font-size: clamp(9px, 18 / 1920 * 100vw, 36px);
    }

    @include respond-to("5xl") {
      width: 80%;
      text-wrap: pretty;
      font-size: clamp(13px, 26 / 2560 * 100vw, 42px);
    }
  }

  &__image {
    width: 100%;
    height: clamp(122.5px, 245 / 360 * 100vw, 490px);
    @apply rounded-lg;

    @include respond-to("xxs") {
      height: 65%;
    }

    @include respond-to("xs") {
      height: clamp(122.5px, 245 / 480 * 100vw, 490px);
    }

    // @include respond-to("sm") {
    //   // height: clamp(200px, 55.556vw, 800px);
    // }

    @include respond-to("md") {
      height: clamp(250px, 500 / 992 * 100vw, 1000px);
    }

    @include respond-to("tablet_sm") {
      height: clamp(85px, 170 / 1024 * 100vw, 340px);
    }

    @include respond-to("tablet") {
      height: clamp(105px, 210 / 1024 * 100vw, 410px);
    }

    @include respond-to("lg") {
      height: clamp(130px, 260 / 1200 * 100vw, 520px);
    }

    @include respond-to("xl") {
      height: clamp(80px, 160 / 1360 * 100vw, 320px);
    }

    @include respond-to("2xl") {
      height: clamp(105px, 210 / 1520 * 100vw, 420px);
    }

    @include respond-to("3xl") {
      height: clamp(110px, 220 / 1680 * 100vw, 440px);
    }

    @include respond-to("4xl") {
      height: clamp(130px, 260 / 1920 * 100vw, 520px);
    }

    @include respond-to("5xl") {
      height: clamp(170px, 340 / 2560 * 100vw, 680px);
    }
  }

  &__link {
    font-family: "Rubik";
    font-size: clamp(8.5px, 17 / 360 * 100vw, 34px);
    text-decoration: none;
    @apply text-red;
    @apply mt-2;

    &:hover {
      text-decoration: underline;
    }

    @include respond-to("xxs") {
      @apply mt-2;
    }

    @include respond-to("xs") {
      font-size: clamp(8.5px, 3.9718799999999996vw, 34px);
    }

    @include respond-to("sm") {
      font-size: clamp(10px, 2.778vw, 40px);
    }

    @include respond-to("md") {
      font-size: clamp(12px, 24 / 992 * 100vw, 48px);
    }

    @include respond-to("tablet_sm") {
      font-size: clamp(8px, 16 / 1024 * 100vw, 32px);
    }

    @include respond-to("tablet") {
      font-size: clamp(8px, 16 / 1100 * 100vw, 32px);
    }

    @include respond-to("lg") {
      font-size: clamp(8.5px, 17 / 1200 * 100vw, 34px);
    }

    @include respond-to("xl") {
      font-size: clamp(8.5px, 17 / 1360 * 100vw, 34px);
    }

    @include respond-to("2xl") {
      font-size: clamp(8.5px, 17 / 1520 * 100vw, 34px);
    }

    @include respond-to("3xl") {
      font-size: clamp(8.5px, 17 / 1680 * 100vw, 34px);
    }

    @include respond-to("4xl") {
      font-size: clamp(8.5px, 17 / 1920 * 100vw, 34px);
    }

    @include respond-to("5xl") {
      font-size: clamp(11px, 22 / 2560 * 100vw, 44px);
    }
  }

  @include respond-to("xs") {
    width: 100%;
    height: clamp(175px, 350 / 480 * 100vw, 700px);
  }

  @include respond-to("sm") {
    width: 100%;
    height: clamp(175px, 350 / 720 * 100vw, 700px);
  }

  @include respond-to("md") {
    width: 100%;
    height: clamp(175px, 350 / 992 * 100vw, 700px);
  }

  @include respond-to("lg") {
    width: clamp(125px, 250 / 1200 * 100vw, 500px);
    height: clamp(100px, 200 / 1200 * 100vw, 400px);
  }

  @include respond-to("xl") {
    width: clamp(125px, 250 / 1360 * 100vw, 500px);
    height: clamp(170px, 340 / 1360 * 100vw, 680px);
    @apply mb-12;
  }

  @include respond-to("2xl") {
    width: 20%;
    height: clamp(205px, 410 / 1520 * 100vw, 820px);
  }

  @include respond-to("3xl") {
    width: clamp(160px, 320 / 1680 * 100vw, 640px);
  }

  @include respond-to("4xl") {
    width: clamp(195px, 390 / 1920 * 100vw, 780px);
    height: clamp(205px, 410 / 1920 * 100vw, 820px);
  }

  @include respond-to("5xl") {
    width: clamp(255px, 510 / 2560 * 100vw, 1020px);
    height: auto;
    @apply p-4;
    @apply rounded-3xl;
  }
}
