@import "breakpoint-slicer";
@import "../../styles/animations";
@import "../../styles/mixins";
@import "../../styles/variables";

.mini_text {
  font-size: clamp(8px, 16 / 360 * 100vw, 32px);
  font-family: "Poppins";
  font-weight: 500;
  text-transform: capitalize;
  animation: reveal 2s linear both;
  transition: 0.3s all;
  animation-timeline: view(40%);
  @apply text-red;

  @include respond-to("xs") {
    font-size: clamp(8px, 16 / 480 * 100vw, 32px);
  }

  @include respond-to("sm") {
    font-size: clamp(8px, 16 /768 * 100vw, 32px);
  }

  @include respond-to("md") {
    font-size: clamp(8px, 16 / 992 * 100vw, 32px);
  }

  @include respond-to("lg") {
    font-size: clamp(8px, 16 / 1200 * 100vw, 32px);
  }

  @include respond-to("xl") {
    font-size: clamp(8px, 16 / 1360 * 100vw, 32px);
  }

  @include respond-to("2xl") {
    font-size: clamp(8px, 16 / 1520 * 100vw, 32px);
  }

  @include respond-to("3xl") {
    font-size: clamp(8px, 16 / 1680 * 100vw, 32px);
  }

  @include respond-to("4xl") {
    font-size: clamp(8px, 16 / 1920 * 100vw, 32px);
  }

  @include respond-to("5xl") {
    font-size: clamp(8px, 16 / 2560 * 100vw, 32px);
  }
}
