@import "breakpoint-slicer";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  // position: sticky;
  top: 0;
  z-index: 10000;
  // @apply bg-white;
  @apply mt-16;

  &__logo {
    width: clamp(95px, 190 / 360 * 100vw, 380px);
    height: clamp(35px, 70 / 360 * 100vw, 140px);

    @include respond-to("xs") {
      width: clamp(95px, 190 / 480 * 100vw, 380px);
      height: clamp(35px, 70 / 480 * 100vw, 140px);
    }

    @include respond-to("sm") {
      width: clamp(95px, 190 / 720 * 100vw, 380px);
      height: clamp(35px, 70 / 720 * 100vw, 140px);
    }

    @include respond-to("md") {
      width: clamp(95px, 190 / 992 * 100vw, 380px);
      height: clamp(35px, 70 / 992 * 100vw, 140px);
    }

    @include respond-to("lg") {
      width: clamp(95px, 140 / 1200 * 100vw, 380px);
      height: clamp(35px, 70 / 1200 * 100vw, 140px);
    }

    @include respond-to("xl") {
      width: clamp(95px, (170 / 1360) * 100vw, 380px);
      height: clamp(35px, (70 / 1360) * 100vw, 140px);
    }

    @include respond-to("2xl") {
      width: clamp(95px, 190 / 1520 * 100vw, 380px);
      height: clamp(35px, 70 / 1520 * 100vw, 140px);
    }

    @include respond-to("3xl") {
      width: clamp(95px, 190 / 1680 * 100vw, 380px);
      height: clamp(35px, 70 / 1680 * 100vw, 140px);
    }

    @include respond-to("4xl") {
      width: clamp(95px, 190 / 1920 * 100vw, 380px);
      height: clamp(35px, 70 / 1920 * 100vw, 140px);
    }

    @include respond-to("5xl") {
      width: clamp(95px, 190 / 2560 * 100vw, 380px);
      height: clamp(35px, 70 / 2560 * 100vw, 140px);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    @apply gap-8;
  }
}
