@import "breakpoint-slicer";
@import "../../styles/mixins";
@import "../../styles/variables";

.icon_dot {
  display: flex;
  align-items: center;
  justify-content: center;
  @apply text-white;
  @apply bg-red;

  &__icon {
    width: clamp(8px, 16 / 360 * 100vw, 32px);
    height: clamp(8px, 16 / 360 * 100vw, 32px);

    @include respond-to("xs") {
      width: clamp(8px, 16 / 480 * 100vw, 32px);
      height: clamp(8px, 16 / 480 * 100vw, 32px);
    }

    @include respond-to("sm") {
      width: clamp(8px, 16 / 992 * 100vw, 32px);
      height: clamp(8px, 16 / 992 * 100vw, 32px);
    }

    @include respond-to("lg") {
      width: clamp(8px, 16 / 1200 * 100vw, 32px);
      height: clamp(8px, 16 / 1200 * 100vw, 32px);
    }
  }
}
