@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

.form_mob {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @apply mt-16;

  &__paragraph {
    text-align: center;
    @apply mt-4;

    @include respond-to("sm") {
      width: 70%;
    }
  }
  &__mobile {
    display: block;

    @include respond-to("sm") {
      display: none;
    }
  }

  &__tablet {
    display: none;

    @include respond-to("sm") {
      display: block;
    }
  }
}
