@import "breakpoint-slicer";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

.blog {
  display: flex;
  flex-direction: column;
  @apply mt-16;

  @include respond-to("xxs") {
    width: 90%;
    margin: auto;
    @apply mt-32;
  }

  @include respond-to("lg") {
    @apply mt-20 #{!important};
  }

  @include respond-to("xl") {
    @apply mt-16;
  }

  @include respond-to("5xl") {
    @apply mt-32;
  }

  &__upper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond-to("xxs") {
      width: 70%;
      margin: auto;
      flex-wrap: wrap;
    }

    @include respond-to("md") {
      width: 100%;
      text-align: right;
    }

    &__heading {
      @include respond-to("xl") {
        font-size: clamp(19px, 38 / 1360 * 100vw, 76px);
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply gap-4;
    @apply mt-4;

    @include respond-to("xxs") {
      flex-direction: column;
    }

    @include respond-to("md") {
      width: 100%;
      flex-direction: row;
    }
  }
}
