@import "breakpoint-slicer";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  @apply mt-16;

  @include respond-to("xxs") {
    width: 90%;
    margin: auto;
    @apply mt-32;
  }

  @include respond-to("tablet_sm") {
    width: 100%;
  }

  @include respond-to("tablet") {
    width: 100%;
  }

  @include respond-to("lg") {
    width: 100%;
    @apply mt-20 #{!important};
  }

  @include respond-to("xl") {
    @apply mt-16;
  }

  @include respond-to("5xl") {
    @apply mt-32;
  }

  &__upper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond-to("xxs") {
      width: 70%;
      margin: auto;
      flex-wrap: wrap;
    }

    @include respond-to("tablet_sm") {
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-left: 0;
      justify-content: flex-start;
    }

    @include respond-to("tablet") {
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-left: 0;
      justify-content: flex-start;
    }

    &__heading {
      @include respond-to("sm") {
        width: 70%;
        margin: auto;
      }

      @include respond-to("md") {
        width: 70%;
        margin: auto;
      }

      @include respond-to("tablet_sm") {
        width: 100%;
        text-align: left;
      }

      @include respond-to("tablet") {
        width: 100%;
        text-align: left;
      }

      @include respond-to("lg") {
        text-align: right;
      }

      @include respond-to("xl") {
        font-size: clamp(19px, 38 / 1360 * 100vw, 76px);
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply gap-4;
    @apply mt-4;

    @include respond-to("xxs") {
      flex-direction: column;
      @apply mt-10;
    }

    @include respond-to("xs") {
      @apply mt-12;
    }

    @include respond-to("md") {
      width: 100%;
    }

    @include respond-to("tablet_sm") {
      flex-direction: row;
    }

    @include respond-to("tablet") {
      flex-direction: row;
    }

    @include respond-to("lg") {
      @apply mt-0;
      flex-direction: row;
    }
  }
}
