@import "breakpoint-slicer";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.video {
  position: relative;
  width: clamp(180px,84.1104vw,720px);
  height: clamp(125px,58.41vw,500px);

  @include respond-to("xs") {
    width: clamp(183px, 366 / 480 * 100vw, 732px);
    height: clamp(150px, 300 / 480 * 100vw, 600px);
  }

  @include respond-to("sm") {
    width: clamp(183px, 366 / 720 * 100vw, 732px);
    height: clamp(150px, 300 / 720 * 100vw, 600px);
  }

  @include respond-to("md") {
    width: clamp(183px, 366 / 992 * 100vw, 732px);
    height: clamp(150px, 300 / 992 * 100vw, 600px);
  }

  @include respond-to("lg") {
    width: 100%;
    height: clamp(175px, 350 / 1200 * 100vw, 700px);
  }

  @include respond-to("xl") {
    width: clamp(350px, 700 / 1360 * 100vw, 1400px);
    height: clamp(175px, 350 / 1360 * 100vw, 700px);
  }

  @include respond-to("2xl") {
    width: 70%;
    height: clamp(210px, 410 / 1520 * 100vw, 820px);
  }

  @include respond-to("3xl") {
    width: clamp(303.5px, 607 / 1680 * 100vw, 2400px);
    height: clamp(249px, 498 / 1680 * 100vw, 996px);
  }

  @include respond-to("4xl") {
    width: clamp(750px, 78.125vw, 3000px);
  }

  @include respond-to("5xl") {
    width: clamp(603.5px, 47.148vw, 2414px);
    height: clamp(270px, 540 / 2560 * 100vw, 1080px);
  }

  &__market {
    width: 100%;
    height: 100%;

    @include respond-to('xxs') {
      border-radius: 8px;
    }
  }
}
