@import "breakpoint-slicer";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.blog {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  @apply mt-32;

  * {
    text-align: left;
    @apply mt-4;

    @include respond-to("xxs") {
      @apply mt-4;
    }
  }

  img {
    max-width: 100%;
    height: auto; // Maintain aspect ratio
  }

  h1,
  h2 {
    width: 100%;
    font-size: 36px;

    @include respond-to("xxs") {
      font-size: clamp(11px, 22 / 360 * 100vw, 44px);
    }

    @include respond-to("390") {
      font-size: clamp(11px, 22 / 390 * 100vw, 44px);
    }

    @include respond-to("xs") {
      font-size: clamp(11px, 22 / 480 * 100vw, 44px);
    }

    @include respond-to("530") {
      font-size: clamp(11px, 22 / 530 * 100vw, 44px);
    }

    @include respond-to("fsf") {
      font-size: clamp(11px, 22 / 575 * 100vw, 44px);
    }

    @include respond-to("sm") {
      font-size: clamp(11px, 22 / 720 * 100vw, 44px);
    }

    @include respond-to("es") {
      font-size: clamp(18px, 36 / 860 * 100vw, 72px);
    }

    @include respond-to("md") {
      font-size: clamp(18px, 36 / 992 * 100vw, 72px);
    }

    @include respond-to("tablet_sm") {
      font-size: clamp(18px, 36 / 1024 * 100vw, 72px);
    }

    @include respond-to("tablet") {
      font-size: clamp(18px, 36 / 1100 * 100vw, 72px);
    }

    @include respond-to("lg") {
      font-size: clamp(18px, 36 / 1200 * 100vw, 72px);
    }

    @include respond-to("xl") {
      font-size: clamp(18px, 36 / 1360 * 100vw, 72px);
    }

    @include respond-to("2xl") {
      font-size: clamp(18px, 36 / 1520 * 100vw, 72px);
    }

    @include respond-to("3xl") {
      font-size: clamp(18px, 36 / 1680 * 100vw, 72px);
    }

    @include respond-to("4xl") {
      font-size: clamp(18px, 36 / 1920 * 100vw, 72px);
    }

    @include respond-to("5xl") {
      font-size: clamp(18px, 36 / 2560 * 100vw, 72px);
    }

    @include respond-to("6xl") {
      font-size: clamp(18px, 36 / 3840 * 100vw, 72px);
    }
  }

  h3 {
    @include respond-to("xxs") {
      font-size: clamp(9px, 18 / 360 * 100vw, 36px);
    }

    @include respond-to("390") {
      font-size: clamp(9px, 18 / 390 * 100vw, 36px);
    }

    @include respond-to("xs") {
      font-size: clamp(9px, 18 / 480 * 100vw, 36px);
    }

    @include respond-to("530") {
      font-size: clamp(9px, 18 / 530 * 100vw, 36px);
    }

    @include respond-to("fsf") {
      font-size: clamp(9px, 18 / 575 * 100vw, 36px);
    }

    @include respond-to("sm") {
      font-size: clamp(9px, 18 / 720 * 100vw, 36px);
    }
  }

  @include respond-to("xxs") {
    width: 85%;
  }

  @include respond-to("lg") {
    width: 80%;
  }

  @include respond-to("xl") {
    width: 80%;
  }

  @include respond-to("3xl") {
    width: 60%;
  }

  @include respond-to("5xl") {
    width: 50%;
  }
}
