@import "breakpoint-slicer";
@import "../../../shared/styles/mixins";
@import "../../../shared/styles/variables";

.input_container {
  width: clamp(150px, 15.624vw, 600px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid;
  cursor: pointer;
  transition: 0.3s all;

  @include respond-to("xl") {
    @apply mt-8;
  }

  @include respond-to("4xl") {
    @apply mt-10;
  }

  @include respond-to("5xl") {
    @apply mt-12;
  }

  &:hover {
    @apply border-red;
    @apply text-red;
  }

  &__label {
    position: absolute;
    font-size: clamp(9px, 0.93744vw, 36px);
    z-index: -1;
    @apply bottom-1;
    @apply left-2;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: clamp(9px, 0.93744vw, 36px);
    z-index: 1;
    @apply pl-2;
    @apply pb-1;
    @apply text-dark;
  }
}
