@import "breakpoint-slicer";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply mt-16;
  @apply mb-8;

  @include respond-to("tablet") {
    @apply mt-32;
  }

  &__container {
    @include respond-to("4xl") {
      height: clamp(16px, 32 / 1920 * 100vw, 64px);
    }
  }

  &__logo {
    width: clamp(64px, 128 / 1024 * 100vw, 256px);
    height: clamp(64px, 128 / 1024 * 100vw, 256px);
  }

  &__nav {
    @include respond-to("md") {
      display: flex;
      align-items: center;
      @apply gap-8;
    }
  }
}
