.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply mt-16;
  @apply mb-8;

  &__nav {
    display: flex;
    align-items: center;
    @apply gap-8;
  }
}
