@import "breakpoint-slicer";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.review_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: clamp(135.5px, 271 / 360 * 100vw, 542px);
  transition: 0.3s all;
  border: 2px solid;
  cursor: pointer;
  @apply bg-gray-100;
  @apply border-gray-200;
  @apply rounded-md;
  @apply p-8;

  @include respond-to('xxs') {
    height: clamp(115px,63.889vw,460px);
  }

  &:hover {
    @apply border-red;
    @apply shadow-xl;
  }

  &__text {
    width: 30%;
    font-size: clamp(9px, 18 / 360 * 100vw, 36px);
    @apply text-dark;

    @include respond-to('xxs') {
      width: 100%;
      font-size: clamp(8px,4.444vw,32px);
    }

    @include respond-to("xs") {
      font-size: clamp(9px, 18 / 480 * 100vw, 36px);
    }

    @include respond-to("sm") {
      font-size: clamp(9px, 18 / 768 * 100vw, 36px);
    }

    @include respond-to("md") {
      font-size: clamp(9px, 18 / 992 * 100vw, 36px);
    }

    @include respond-to("lg") {
      width: 100%;
      font-size: clamp(8px, 16 / 1200 * 100vw, 32px);
    }

    @include respond-to("xl") {
      width: 100%;
      font-size: clamp(8px, 16 / 1360 * 100vw, 32px);
    }

    @include respond-to("2xl") {
      font-size: clamp(9px, 18 / 1520 * 100vw, 36px);
    }

    @include respond-to("3xl") {
      font-size: clamp(9px, 18 / 1680 * 100vw, 36px);
    }

    @include respond-to("4xl") {
      width: 90%;
      font-size: clamp(8px, 16 / 1920 * 100vw, 32px);
    }

    @include respond-to("5xl") {
      font-size: clamp(9px, 18 / 2560 * 100vw, 36px);
    }
  }

  &__undername {
    font-size: clamp(8px, 16 / 360 * 100vw, 32px);
    @apply text-gray-500;
    @apply mt-2;

    @include respond-to("xs") {
      font-size: clamp(8px, 16 / 480 * 100vw, 32px);
    }

    @include respond-to("sm") {
      font-size: clamp(8px, 16 / 768 * 100vw, 32px);
    }

    @include respond-to("md") {
      font-size: clamp(8px, 16 / 992 * 100vw, 32px);
    }

    @include respond-to("lg") {
      font-size: clamp(8px, 16 / 1200 * 100vw, 32px);
    }

    @include respond-to("xl") {
      font-size: clamp(8px, 16 / 1360 * 100vw, 32px);
    }

    @include respond-to("2xl") {
      font-size: clamp(8px, 16 / 1520 * 100vw, 32px);
    }

    @include respond-to("3xl") {
      font-size: clamp(8px, 16 / 1680 * 100vw, 32px);
    }

    @include respond-to("4xl") {
      font-size: clamp(8px, 16 / 1920 * 100vw, 32px);
    }

    @include respond-to("5xl") {
      font-size: clamp(8px, 16 / 2560 * 100vw, 32px);
    }
  }

  @include respond-to("xs") {
    width: 100%;
    height: clamp(135.5px, 271 / 480 * 100vw, 542px);
  }

  @include respond-to("sm") {
    width: 100%;
    height: clamp(135.5px, 271 / 720 * 100vw, 542px);
  }

  @include respond-to("md") {
    width: clamp(265px, 530 / 992 * 100vw, 1060px);
    height: clamp(135.5px, 270/ 992 * 100vw, 542px);
  }

  @include respond-to("lg") {
    width: 90%;
    height: clamp(115px, 230/ 1200 * 100vw, 460px);
  }

  @include respond-to("xl") {
    width: 90%;
    height: clamp(115px, 230 / 1360 * 100vw, 460px);
  }

  @include respond-to("2xl") {
    width: 88%;
    height: 90%;
  }

  @include respond-to("3xl") {
    width: 80%;
    height: 85%;
  }

  @include respond-to("4xl") {
    width: clamp(210px, 420 / 1920 * 100vw, 840px);
    height: clamp(120px, 240 / 1920 * 100vw, 480px);
  }

  @include respond-to("5xl") {
    width: clamp(265px, 530 / 2560 * 100vw, 1060px);
    height: clamp(135.5px, 270/ 2560 * 100vw, 542px);
  }
}
