@import "breakpoint-slicer";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.block {
  display: flex;
  align-items: center;
  @apply gap-5;
  @apply pb-4;

  @include respond-to("xxs") {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @include respond-to("tablet_sm") {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  @include respond-to("tablet") {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  @include respond-to("lg") {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  &__paragraph {
    width: 30%;
    font-family: "Poppins";
    font-size: clamp(9px, 18 / 360 * 100vw, 36px);
    @apply text-dark;

    @include respond-to("xxs") {
      font-size: clamp(7px, 3.889vw, 28px);
      text-align: center;
      width: 100%;
      font-weight: 300;
    }

    @include respond-to("xs") {
      font-size: clamp(9px, 18 / 480 * 100vw, 36px);
    }

    @include respond-to("sm") {
      font-size: clamp(9px, 18 / 720 * 100vw, 36px);
    }

    @include respond-to("es") {
      width: 70%;
    }

    @include respond-to("md") {
      width: 80%;
      text-align: center;
      font-size: clamp(11px, 22 / 992 * 100vw, 44px);
    }

    @include respond-to("tablet_sm") {
      width: 50%;
      text-align: left;
      font-size: clamp(8px, 16 / 1024 * 100vw, 32px);
    }

    @include respond-to("tablet") {
      width: 60%;
      text-align: left;
      font-size: clamp(8px, 16 / 1100 * 100vw, 32px);
    }

    @include respond-to("lg") {
      width: 60%;
      text-align: left;
      font-size: clamp(7px, 14 / 1200 * 100vw, 28px);
    }

    @include respond-to("xl") {
      width: 55%;
      font-size: clamp(8px, 16 / 1360 * 100vw, 32px);
    }

    @include respond-to("2xl") {
      font-size: clamp(9px, 18 / 1520 * 100vw, 36px);
    }

    @include respond-to("3xl") {
      font-size: clamp(9px, 18 / 1680 * 100vw, 36px);
    }

    @include respond-to("4xl") {
      width: 50%;
      font-size: clamp(9px, 18 / 1920 * 100vw, 36px);
    }

    @include respond-to("5xl") {
      font-size: clamp(9px, 18 / 2560 * 100vw, 36px);
    }
  }
}
