@import "breakpoint-slicer";
@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  width: clamp(32px, 64 / 360 * 100vw, 128px);
  height: clamp(32px, 64 / 360 * 100vw, 128px);
  top: clamp(-32px, -64 / 360 * 100vw, -128px);
  right: clamp(16px, 32 / 360 * 100vw, 64px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(255, 78, 78, 0.8) 0 0 32px 0px;
  z-index: 1;
  border: none;
  transition: 0.3s all;
  @apply bg-red;
  @apply rounded-full;

  &__icon {
    width: clamp(10px, 20 / 360 * 100vw, 40px);
    height: clamp(10px, 20 / 360 * 100vw, 40px);

    @include respond-to("xs") {
      width: clamp(10px, 20 / 480 * 100vw, 40px);
      height: clamp(10px, 20 / 480 * 100vw, 40px);
    }

    @include respond-to("sm") {
      width: clamp(10px, 20 / 720 * 100vw, 40px);
      height: clamp(10px, 20 / 720 * 100vw, 40px);
    }

    @include respond-to("md") {
      width: clamp(10px, 20 / 992 * 100vw, 40px);
      height: clamp(10px, 20 / 992 * 100vw, 40px);
    }

    @include respond-to("lg") {
      width: clamp(10px, 20 / 1200 * 100vw, 40px);
      height: clamp(10px, 20 / 1200 * 100vw, 40px);
    }

    @include respond-to("xl") {
      width: clamp(10px, 20 / 1360 * 100vw, 40px);
      height: clamp(10px, 20 / 1360 * 100vw, 40px);
    }

    @include respond-to("2xl") {
      width: clamp(10px, 20 / 1520 * 100vw, 40px);
      height: clamp(10px, 20 / 1520 * 100vw, 40px);
    }

    @include respond-to("3xl") {
      width: clamp(10px, 20 / 1680 * 100vw, 40px);
      height: clamp(10px, 20 / 1680 * 100vw, 40px);
    }

    @include respond-to("4xl") {
      width: clamp(10px, 20 / 1920 * 100vw, 40px);
      height: clamp(10px, 20 / 1920 * 100vw, 40px);
    }

    @include respond-to("5xl") {
      width: clamp(10px, 20 / 2560 * 100vw, 40px);
      height: clamp(10px, 20 / 2560 * 100vw, 40px);
    }
  }

  &:hover {
    @apply bg-hover_red;
  }

  @include respond-to("xs") {
    width: clamp(32px, 64 / 480 * 100vw, 128px);
    height: clamp(32px, 64 / 480 * 100vw, 128px);
  }

  @include respond-to("sm") {
    width: clamp(32px, 64 / 768 * 100vw, 128px);
    height: clamp(32px, 64 / 768 * 100vw, 128px);
  }

  @include respond-to("md") {
    width: clamp(32px, 64 / 992 * 100vw, 128px);
    height: clamp(32px, 64 / 992 * 100vw, 128px);
  }

  @include respond-to("lg") {
    width: clamp(32px, 64 / 1200 * 100vw, 128px);
    height: clamp(32px, 64 / 1200 * 100vw, 128px);
  }

  @include respond-to("xl") {
    width: clamp(32px, 64 / 1360 * 100vw, 128px);
    height: clamp(32px, 64 / 1360 * 100vw, 128px);
  }

  @include respond-to("2xl") {
    width: clamp(32px, 64 / 1520 * 100vw, 128px);
    height: clamp(32px, 64 / 1520 * 100vw, 128px);
  }

  @include respond-to("3xl") {
    width: clamp(32px, 64 / 1680 * 100vw, 128px);
    height: clamp(32px, 64 / 1680 * 100vw, 128px);
  }

  @include respond-to("4xl") {
    width: clamp(32px, 64 / 1920 * 100vw, 128px);
    height: clamp(32px, 64 / 1920 * 100vw, 128px);
  }

  @include respond-to("5xl") {
    width: clamp(32px, 64 / 2560 * 100vw, 128px);
    height: clamp(32px, 64 / 2560 * 100vw, 128px);
  }

  &__icon {
    @apply text-white;
  }
}
