@import "breakpoint-slicer";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/animations";

.main_screen_mob {
  height: 120svh;
  background-image: url(../../../../assets/webp/mob/phone_bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;

  @include respond-to("xs") {
    height: 90svh;
  }

  @include respond-to("fsf") {
    height: 100svh;
  }

  @include respond-to("sm") {
    height: 120svh;
  }

  @include respond-to("es") {
    height: 140svh;
  }

  @include respond-to("md") {
    height: 180svh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    overflow-x: hidden;
    @apply mt-56;

    &__heading {
      color: #fff;
      line-height: 150%;
      letter-spacing: 2.5px;
      text-transform: capitalize;
      text-align: center;
      width: 96%;
      // animation: fadeRevealLeft 0.5s ease-out forwards;

      @include respond-to("sm") {
        width: 60%;
      }
    }

    &__paragraph {
      color: #fff;
      line-height: 138.6%;
      text-align: center;
      width: 93%;
      @apply mt-8;
      // animation: fadeRevealLeft 0.7s ease-out forwards;

      @include respond-to("sm") {
        width: 80%;
      }

      @include respond-to("md") {
        width: 70%;
      }
    }

    &__link {
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: 0.3s all;
      position: relative;
      text-decoration: none;
      color: #fff;
      font-size: clamp(8px, 4.444vw, 32px);
      @apply mt-4;
      // animation: fadeRevealLeft 1.1s ease-out forwards;

      @include respond-to("sm") {
        font-size: clamp(12px, 3.333vw, 48px);
      }

      &:hover {
        @apply text-red;
      }

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        width: 70%;
        height: 1px;
        @apply bg-red;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms;
      }
    }
  }
}
