$breakpoints: (
  "xxs": 360px,
  "xs": 480px,
  "530": 530px,
  "fsf": 575px,
  "sm": 720px,
  "es": 860px,
  "md": 992px,
  "tablet_sm": 1024px,
  "tablet": 1100px,
  "lg": 1200px,
  "xl": 1360px,
  "2xl": 1520px,
  "3xl": 1680px,
  "4xl": 1920px,
  "5xl": 2560px,
);
