.bikes {
  width: 100%;
  display: flex;
  flex-direction: column;
  @apply mt-32;

  &__upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__link {
      text-decoration: none;
      transition: 0.3s all;
      @apply text-red;
      @apply text-lg;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @apply mt-8;

    > * {
      flex: 1 1 22%;
      max-width: 22%;
      @apply mt-8;
    }
  }
}
