@import "breakpoint-slicer";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/animations";

.best_sellers_mob {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  @apply mt-16;

  &__content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    &__text {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__heading {
        @include respond-to("sm") {
          width: 70%;
        }
      }

      &__paragraph {
        width: 75%;
        text-align: center;
        font-style: normal;
        line-height: 138.6%;
        @apply mt-8;

        @include respond-to("sm") {
          width: 50%;
        }
      }
    }
  }

  &__image {
    width: clamp(152.5px, 84.722vw, 610px);
    height: clamp(166.5px, 92.5vwv, 666px);
    @apply mt-8;
    @apply rounded-md;

    @include respond-to("fsf") {
      height: 110%;
    }

    @include respond-to("es") {
      width: clamp(375px, 87.209vw, 1500px);
      height: clamp(365px, 84.884vw, 1460px);
    }
  }
}
