@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.result {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply rounded-xl;
  @apply p-8;

  @apply mb-8;

  &__heading {
    font-family: "Poppins";
    @apply text-4xl;
    @apply text-white;
  }

  &__money_back {
    text-align: center;
    @apply text-lg;
    @apply text-white;
    @apply mt-4;

    @include respond-to("xs") {
      @apply text-xl;
    }
  }

  &__money_back_amount {
    @apply mt-2;
    @apply text-white;

    @include respond-to("xxs") {
      @apply text-2xl;
    }

    @include respond-to("xs") {
      @apply text-3xl;
    }

    @include respond-to("lg") {
      @apply text-4xl;
    }
  }
}
