@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.result {
  width: 100%;
  height: clamp(200px, 20.832vw, 800px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply rounded-xl;
  @apply p-8;
  @apply mb-8;

  &__money_back {
    width: 100%;
    text-align: center;
    @apply text-lg;
    @apply text-white;
    @apply mt-4;

    @include respond-to("xs") {
      @apply text-xl;
    }
  }

  &__money_back_amount {
    @apply mt-2;
    @apply text-white;

    @include respond-to("xxs") {
      @apply text-2xl;
    }

    @include respond-to("xs") {
      @apply text-3xl;
    }

    @include respond-to("lg") {
      @apply text-4xl;
    }

    @include respond-to("xl") {
      @apply text-3xl;
    }

    @include respond-to("2xl") {
      @apply text-4xl;
    }
  }

  @include respond-to("lg") {
    height: auto;
  }

  @include respond-to("xl") {
    height: auto;
  }

  @include respond-to("2xl") {
    height: auto;
  }

  @include respond-to("3xl") {
    height: auto;
  }

  @include respond-to("5xl") {
    height: auto;
  }
}
