@import "breakpoint-slicer";
@import "../../../shared/styles/mixins";
@import "../../../shared/styles/variables";

.input {
  width: clamp(150px, 70.092vw, 600px);
  font-size: clamp(9px, 4.20552vw, 36px);
  background: transparent;
  border: none;
  outline: none;
  z-index: 1;
  border-bottom: 1px solid;
  transition: 0.3s all;
  @apply border-dark;
  @apply pl-2;
  @apply pb-1;

  @include respond-to("md") {
    width: clamp(150px, 70.092vw, 600px);
    font-size: clamp(9px, 0.93744vw, 36px);
  }

  @include respond-to("tablet_sm") {
    width: clamp(125px, 250 / 1024 * 100vw, 500px);
    font-size: clamp(9px, 18 / 1024 * 100vw, 36px) !important;
    @apply mt-12;
  }

  @include respond-to("tablet") {
    width: clamp(85px, 170 / 1100 * 100vw, 340px);
    font-size: clamp(9px, 18 / 1100 * 100vw, 36px);
    @apply mt-12;
  }

  @include respond-to("sm") {
    font-size: clamp(12px, 3.333vw, 48px);
  }

  @include respond-to("lg") {
    width: clamp(100px, 200 / 1200 * 100vw, 400px);
  }

  @include respond-to("xl") {
    width: clamp(110px, 220 / 1360 * 100vw, 440px);
    @apply mt-8;
  }

  @include respond-to("2xl") {
    width: clamp(200px, 400 / 1520 * 100vw, 800px);
  }

  @include respond-to("3xl") {
    width: clamp(130px, 260 / 1680 * 100vw, 520px);
  }

  @include respond-to("4xl") {
    font-size: clamp(9px, 18 / 1920 * 100vw, 36px);
    width: clamp(150px, 300 / 1920 * 100vw, 600px);
    @apply mt-10;
  }

  @include respond-to("5xl") {
    width: clamp(200px, 400 / 2560 * 100vw, 800px);
    @apply mt-12;
  }

  &:hover {
    @apply border-red;
    @apply text-red;
  }
}
