@import "breakpoint-slicer";
@import "../../../shared/styles/mixins";
@import "../../../shared/styles/variables";

.input {
  width: clamp(200px, 400 / 1200 * 100vw, 800px);
  background: transparent;
  border: none;
  outline: none;
  font-size: clamp(9px, 0.93744vw, 36px);
  z-index: 1;
  border-bottom: 1px solid;
  transition: 0.3s all;
  @apply border-dark;
  @apply pl-2;
  @apply pb-1;

  @include respond-to("lg") {
    width: clamp(100px, 200 / 1200 * 100vw, 400px);
  }

  @include respond-to("xl") {
    width: clamp(110px, 220 / 1360 * 100vw, 440px);
    @apply mt-8;
  }

  @include respond-to("2xl") {
    width: clamp(200px, 400 / 1520 * 100vw, 800px);
  }

  @include respond-to("3xl") {
    width: clamp(130px, 260 / 1680 * 100vw, 520px);
  }

  @include respond-to("4xl") {
    width: clamp(150px, 300 / 1920 * 100vw, 600px);
    @apply mt-10;
  }

  @include respond-to("5xl") {
    width: clamp(200px, 400 / 2560 * 100vw, 800px);
    @apply mt-12;
  }

  &:hover {
    @apply border-red;
    @apply text-red;
  }
}
