@import "breakpoint-slicer";
@import "../../../shared/styles/mixins";
@import "../../../shared/styles/variables";

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  @apply gap-6;
  @apply rounded-md;
  @apply border-gray-200;
  @apply bg-white;
  @apply mt-3;

  @include respond-to("xxs") {
    width: clamp(75px, 35.046vw, 300px);
    height: clamp(32.5px, 15.186599999999999vw, 130px);
  }

  @include respond-to("xs") {
    width: clamp(75px, 31.25vw, 300px);
    height: clamp(32.5px, 13.542vw, 130px);
  }

  @include respond-to("fsf") {
    width: clamp(75px, 26.087vw, 300px);
    height: clamp(32.5px, 11.304vw, 130px);
  }

  @include respond-to("sm") {
    width: clamp(75px, 20.833vw, 300px);
    height: clamp(32.5px, 9.028vw, 130px);
  }

  @include respond-to("es") {
    width: clamp(75px, 17.442vw, 300px);
    height: clamp(32.5px, 7.558vw, 130px);
  }

  @include respond-to("md") {
    width: clamp(75px, 150 / 992 * 100vw, 300px);
    height: clamp(32.5px, 65 / 992 * 100vw, 130px);
  }

  @include respond-to("lg") {
    width: clamp(110px, 220 / 1200 * 100vw, 440px);
    height: clamp(32.5px, 65 / 1200 * 100vw, 130px);
  }

  @include respond-to("xl") {
    width: clamp(110px, 220 / 1360 * 100vw, 440px);
    height: clamp(32.5px, 65 / 1360 * 100vw, 130px);
  }

  @include respond-to("2xl") {
    width: clamp(110px, 220 / 1520 * 100vw, 440px);
    height: clamp(32.5px, 65 / 1520 * 100vw, 130px);
  }

  @include respond-to("3xl") {
    width: clamp(110px, 220 / 1680 * 100vw, 440px);
    height: clamp(32.5px, 65 / 1680 * 100vw, 130px);
  }

  @include respond-to("4xl") {
    width: clamp(110px, 220 / 1920 * 100vw, 440px);
    height: clamp(32.5px, 65 / 1920 * 100vw, 130px);
  }

  @include respond-to("5xl") {
    width: clamp(110px, 220 / 2560 * 100vw, 440px);
    height: clamp(32.5px, 65 / 2560 * 100vw, 130px);
  }

  &__dollar {
    @apply text-red;
    @include respond-to("xxs") {
      @apply text-2xl;
    }
    @include respond-to("md") {
      @apply text-lg;
    }
  }

  &__count {
    @apply text-dark;

    @include respond-to("xxs") {
      @apply text-xl;
    }

    @include respond-to("md") {
      @apply text-lg;
    }
  }

  &__increment,
  &__decrement {
    @apply text-red;

    @include respond-to("xxs") {
      @apply text-2xl;
    }

    @include respond-to("md") {
      @apply text-lg;
    }
  }
}
