@import "breakpoint-slicer";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.review_swiper {
  width: 100%;
  height: clamp(135.5px, 271 / 360 * 100vw, 542px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply mt-16;

  &__slides {
    &__slide {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }

  @include respond-to("xs") {
    width: 100%;
    height: clamp(135.5px, 271 / 480 * 100vw, 542px);
  }

  @include respond-to("sm") {
    width: 100%;
    height: clamp(135.5px, 271 / 720 * 100vw, 542px);
  }

  @include respond-to("md") {
    width: clamp(265px, 530 / 992 * 100vw, 1060px);
    height: clamp(135.5px, 270/ 992 * 100vw, 542px);
  }

  @include respond-to("lg") {
    width: clamp(265px, 530 / 1200 * 100vw, 1060px);
    height: clamp(135.5px, 270/ 1200 * 100vw, 542px);
    @apply mt-8;
  }

  @include respond-to("xl") {
    width: clamp(265px, 530 / 1360 * 100vw, 1060px);
    height: clamp(135.5px, 270/ 1360 * 100vw, 542px);
  }

  @include respond-to("2xl") {
    width: clamp(265px, 530 / 1520 * 100vw, 1060px);
    height: clamp(135.5px, 270/ 1520 * 100vw, 542px);
  }

  @include respond-to("3xl") {
    width: clamp(265px, 530 / 1680 * 100vw, 1060px);
    height: clamp(135.5px, 270/ 1680 * 100vw, 542px);
  }

  @include respond-to("4xl") {
    width: clamp(210px, 420 / 1920 * 100vw, 840px);
    height: clamp(120px, 240 / 1920 * 100vw, 480px);
  }

  @include respond-to("5xl") {
    width: clamp(265px, 530 / 2560 * 100vw, 1060px);
    height: clamp(135.5px, 270/ 2560 * 100vw, 542px);
  }
}
