.progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; // Set width to 100% to allow scaleX to work properly
  height: 4px;
  z-index: 100;
  transform-origin: left center;
  transform: scaleX(0); // Start with an empty bar
  @apply bg-red;
}
