@import "breakpoint-slicer";
@import "../../../../shared/styles/animations";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

.cart_about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @apply mt-32;

  @include respond-to("lg") {
    @apply mt-64;
  }

  @include respond-to("xl") {
    margin-top: clamp(128px, 256 / 1360 * 100vw, 512px);
  }

  @include respond-to("3xl") {
    margin-top: clamp(232px, 464 / 1920 * 100vw, 928px);
  }

  @include respond-to("4xl") {
    margin-top: clamp(232px, 464 / 1920 * 100vw, 928px);
  }

  @include respond-to("5xl") {
    margin-top: clamp(360px, 750 / 2560 * 100vw, 1500px);
  }

  &__video {
    width: clamp(600px, 1200 / 1200 * 100vw, 2400px);
    height: clamp(325px, 650 / 1200 * 100vw, 1300px);

    @include respond-to("lg") {
      width: clamp(300px, 600 / 1200 * 100vw, 1200px);
      height: clamp(175px, 350 / 1200 * 100vw, 700px);
    }

    @include respond-to("xl") {
      width: clamp(300px, 600 / 1360 * 100vw, 1200px);
      height: clamp(200px, 400 / 1360 * 100vw, 800px);
    }

    @include respond-to("2xl") {
      width: clamp(600px, 1200 / 1520 * 100vw, 2400px);
      height: clamp(325px, 650 / 1520 * 100vw, 1300px);
    }

    @include respond-to("3xl") {
      width: clamp(500px, 1000 / 1680 * 100vw, 2000px);
      height: clamp(250px, 500 / 1680 * 100vw, 1000px);
    }

    @include respond-to("4xl") {
      width: clamp(600px, 1200 / 1920 * 100vw, 2400px);
      height: clamp(325px, 650 / 1920 * 100vw, 1300px);
    }

    @include respond-to("5xl") {
      width: clamp(600px, 1200 / 2560 * 100vw, 2400px);
      height: clamp(325px, 650 / 2560 * 100vw, 1300px);
    }
  }

  &__mini_text {
    text-align: left;
    @apply text-red;
    @apply text-2xl;
    @apply font-bold;

    @include respond-to("lg") {
      @apply text-lg;
    }

    @include respond-to("xl") {
      @apply text-xl;
    }
  }

  &__title {
    text-align: left;
    font-size: clamp(32px, 64 / 1200 * 100vw, 128px);
    @apply mt-2;
    @apply text-dark;

    @include respond-to("lg") {
      font-size: clamp(16px, 32 / 1200 * 100vw, 64px);
    }

    @include respond-to("xl") {
      font-size: clamp(24px, 48 / 1360 * 100vw, 96px);
    }

    @include respond-to("2xl") {
      font-size: clamp(32px, 64 / 1520 * 100vw, 128px);
    }

    @include respond-to("3xl") {
      font-size: clamp(24px, 48 / 1680 * 100vw, 96px);
    }

    @include respond-to("4xl") {
      font-size: clamp(32px, 64 / 1920 * 100vw, 128px);
    }

    @include respond-to("5xl") {
      font-size: clamp(32px, 64 / 2560 * 100vw, 128px);
    }
  }

  &__paragraph {
    text-align: left;
    @apply mt-4;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all;
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    @apply text-base;
    @apply text-red;
    @apply mt-4;
    @apply gap-2;

    &:hover {
      @apply text-red;

      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    &:hover &__chevron {
      width: clamp(7px, 14 / 1200 * 100vw, 24px);
      height: clamp(7px, 14 / 1200 * 100vw, 24px);

      @include respond-to("xl") {
        width: clamp(7px, 14 / 1360 * 100vw, 24px);
        height: clamp(7px, 14 / 1360 * 100vw, 24px);
      }

      @include respond-to("2xl") {
        width: clamp(7px, 14 / 1520 * 100vw, 24px);
        height: clamp(7px, 14 / 1520 * 100vw, 24px);
      }

      @include respond-to("3xl") {
        width: clamp(7px, 14 / 1680 * 100vw, 24px);
        height: clamp(7px, 14/ 1680 * 100vw, 24px);
      }

      @include respond-to("4xl") {
        width: clamp(7px, 14 / 1920 * 100vw, 24px);
        height: clamp(7px, 14 / 1920 * 100vw, 24px);
      }

      @include respond-to("5xl") {
        width: clamp(7px, 14 / 2560 * 100vw, 24px);
        height: clamp(7px, 14 / 2560 * 100vw, 24px);
      }
    }

    &::after {
      position: absolute;
      content: "";
      top: 100%;
      width: 70%;
      height: 1px;
      @apply bg-red;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms;
    }

    &__chevron {
      width: clamp(8px, 16 / 1200 * 100vw, 32px);
      height: clamp(8px, 16 / 1200 * 100vw, 32px);
      transition: 0.3s all;
      @apply text-base;
      @apply text-red;

      @include respond-to("lg") {
        width: clamp(5px, 10 / 1200 * 100vw, 20px);
        height: clamp(5px, 10 / 1200 * 100vw, 20px);
      }

      @include respond-to("xl") {
        width: clamp(8px, 16 / 1360 * 100vw, 32px);
        height: clamp(8px, 16 / 1360 * 100vw, 32px);
      }

      @include respond-to("2xl") {
        width: clamp(8px, 16 / 1520 * 100vw, 32px);
        height: clamp(8px, 16 / 1520 * 100vw, 32px);
      }

      @include respond-to("3xl") {
        width: clamp(8px, 16 / 1680 * 100vw, 32px);
        height: clamp(8px, 16 / 1680 * 100vw, 32px);
      }

      @include respond-to("4xl") {
        width: clamp(8px, 16 / 1920 * 100vw, 32px);
        height: clamp(8px, 16 / 1920 * 100vw, 32px);
      }

      @include respond-to("5xl") {
        width: clamp(8px, 16 / 2560 * 100vw, 32px);
        height: clamp(8px, 16 / 2560 * 100vw, 32px);
      }
    }
  }
}
