@import "breakpoint-slicer";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/animations";

.everywhere_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  @apply mt-32;

  &__upper {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;

    &__heading {
      text-align: left !important;
      animation: reveal 2s linear both;
      transition: 0.3s all;
      animation-timeline: view(40%);
    }

    &__paragraph {
      width: 30%;
      font-size: clamp(8px, 16 / 360 * 100vw, 32px);
      animation: reveal 2s linear both;
      transition: 0.3s all;
      animation-timeline: view(40%);

      @include respond-to("xs") {
        font-size: clamp(8px, 16 / 480 * 100vw, 32px);
      }

      @include respond-to("sm") {
        font-size: clamp(8px, 16 / 768 * 100vw, 32px);
      }

      @include respond-to("md") {
        font-size: clamp(8px, 16 / 992 * 100vw, 32px);
      }

      @include respond-to("lg") {
        font-size: clamp(8px, 16 / 1200 * 100vw, 32px);
      }

      @include respond-to("xl") {
        font-size: clamp(8px, 16 / 1360 * 100vw, 32px);
      }

      @include respond-to("2xl") {
        font-size: clamp(8px, 16 / 1520 * 100vw, 32px);
      }

      @include respond-to("3xl") {
        font-size: clamp(8px, 16 / 1680 * 100vw, 32px);
      }

      @include respond-to("4xl") {
        font-size: clamp(8px, 16 / 1920 * 100vw, 32px);
      }

      @include respond-to("5xl") {
        font-size: clamp(8px, 16 / 2560 * 100vw, 32px);
      }
    }
  }

  &__photos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    animation: reveal 3s linear both;
    transition: 0.3s all;
    @apply mt-16;

    &__photo {
      width: clamp(195px, 20.313vw, 780px);
      height: clamp(195px, 20.313vw, 780px);

      @include respond-to("xl") {
        width: clamp(125px, 250 / 1360 * 100vw, 500px);
        height: clamp(125px, 250 / 1360 * 100vw, 500px);
      }
    }
  }
}
