@import "breakpoint-slicer";
@import "../../shared/styles/animations";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.carts_features {
  width: 100%;
  display: flex;
  @apply mt-32;

  &__mini_text {
    @apply font-bold;
    @apply text-2xl;
    @apply text-red;

    @include respond-to("xl") {
      @apply text-xl;
    }
  }

  &__image {
    width: clamp(500px, 1000 / 1200 * 100vw, 2000px);
    height: clamp(400px, 800 / 1200 * 100vw, 1600px);

    @include respond-to("lg") {
      width: clamp(300px, 600 / 1200 * 100vw, 1200px);
      height: clamp(250px, 500 / 1200 * 100vw, 1000px);
    }

    @include respond-to("xl") {
      width: clamp(300px, 600 / 1360 * 100vw, 1200px);
      height: clamp(250px, 500 / 1360 * 100vw, 1000px);
    }

    @include respond-to("2xl") {
      width: clamp(500px, 1000 / 1520 * 100vw, 2000px);
      height: clamp(400px, 800 / 1360 * 100vw, 1600px);
    }

    @include respond-to("3xl") {
      width: clamp(500px, 1000 / 1680 * 100vw, 2000px);
      height: clamp(300px, 600 / 1680 * 100vw, 1200px);
    }

    @include respond-to("4xl") {
      width: clamp(500px, 1000 / 1920 * 100vw, 2000px);
      height: clamp(400px, 800 /1920 * 100vw, 1600px);
    }

    @include respond-to("5xl") {
      width: clamp(500px, 1000 / 2560 * 100vw, 2000px);
      height: clamp(400px, 800 / 2560 * 100vw, 800px);
    }
  }

  &__tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @apply mt-8;
    @apply gap-4;

    * > {
      flex: 1 1 50%;
      max-width: 50%;
      @apply mt-8;
    }
  }
}
