@import "breakpoint-slicer";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply mt-16;

  @include respond-to("5xl") {
    @apply mt-32;
  }

  &__paragraph {
    width: 40%;
    text-align: center;
    @apply mt-2;
  }
}
