.form_section {
  width: 100%;

  &__upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 290px;
      height: 105px;
    }

    &__heading {
      text-align: left;
    }

    &__paragraph {
      text-align: left;
      @apply mt-4;
    }
  }
}
