@import "breakpoint-slicer";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

.form_section {
  width: 100%;
  height: 70vh;
  position: relative;
  background-image: url("../../../../assets/vectors/bike_transparent.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: center;
  @apply mt-16;

  &__upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: clamp(145px, 290 / 1200 * 100vw, 580px);
      height: clamp(52.5px, 105 / 1200 * 100vw, 210px);

      @include respond-to("xl") {
        width: clamp(145px, 290 / 1360 * 100vw, 580px);
        height: clamp(52.5px, 105 / 1360 * 100vw, 210px);
      }

      @include respond-to("2xl") {
        width: clamp(145px, 290 / 1520 * 100vw, 580px);
        height: clamp(52.5px, 105 / 1520 * 100vw, 210px);
      }

      @include respond-to("3xl") {
        width: clamp(145px, 290 / 1680 * 100vw, 580px);
        height: clamp(52.5px, 105 / 1680 * 100vw, 210px);
      }

      @include respond-to("4xl") {
        width: clamp(145px, 290 / 1920 * 100vw, 580px);
        height: clamp(52.5px, 105 / 1920 * 100vw, 210px);
      }

      @include respond-to("5xl") {
        width: clamp(145px, 290 / 2560 * 100vw, 580px);
        height: clamp(52.5px, 105 / 2560 * 100vw, 210px);
      }
    }

    &__heading {
      text-align: left;
    }

    &__paragraph {
      width: 50%;
      text-align: left;
      @apply mt-4;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @apply mt-8;

    @include respond-to("xxs") {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include respond-to("md") {
      display: flex;
      flex-direction: column;
      @apply mt-8;
    }

    @include respond-to("tablet_sm") {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @include respond-to("lg") {
      align-items: flex-start;
    }

    @include respond-to("xl") {
      @apply mt-0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: clamp(-256px, -26.66496vw, -1024px);

    @include respond-to("tablet_sm") {
      width: 80%;
      height: 100%;
    }

    @include respond-to("tablet") {
      width: 80%;
      height: 100%;
    }

    @include respond-to("lg") {
      width: 70%;
      height: 100%;
    }

    @include respond-to("xl") {
      width: 70%;
      height: 100%;
    }
  }
}

.error {
  @apply text-sm;
  @apply text-red;
  @apply mt-2;
}
