.business_block_mob {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

    &__image {
        width: clamp(215px,119.444vw,860px);
        height: clamp(207px,115vw,828px);
    }

    &__text {
        @apply mt-16;
        display: flex;
        align-items: center;
        flex-direction: column;

        &_text {
            text-align: center;
            font-style: normal;
            font-weight: 300;
            line-height: 138.6%;
        }
    }
}